<a href="https://colab.research.google.com/github/Rihaan-Shaikh/CodeAI/blob/main/Task1_TechAI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***FOR DOING THE TASK MAKE THE COPY OF THIS COLLAB FILE IN YOUR DRIVE***

### 1. Python Basics & Control Structures

*Task*:

* Write a Python program that:

  * Takes a list of strings (e.g., ["apple", "banana", "grape", "kiwi", "orange"]).
  * Filters out fruits with more than 5 characters using a for loop and if statement.
  * For each fruit, print its length.

*Example Input*:

python
fruits = ["apple", "banana", "grape", "kiwi", "orange"]

In [1]:
List=[]
List=input("Enter fruits ").split()
print(f"Entered List of fruits is  {List} ")
for i in range(len(List)):
    if len(List[i])>5:
     print(f"The fruit  {List[i]} has {len(List[i])} characters. ")

Enter fruits Apple banana grape kiwi
Entered List of fruits is  ['Apple', 'banana', 'grape', 'kiwi']
The fruit  banana has 6 characters.


*Expected Output*:


The fruit apple has 5 characters.

The fruit banana has 6 characters.

The fruit orange has 6 characters.

### 2. Functions & Lambda

*Task*:

* Write a function that takes a list of integers and a threshold value. Use a **lambda* function inside filter() to return a list of numbers greater than the threshold.


  # Test the function with a list [1, 5, 10, 3, 8] and threshold 5

In [2]:
def Num_Filter(num,threshold):
   return list(filter(lambda x: x>threshold,num))

print(Num_Filter([1,5,10,3,8],5))

[10, 8]

### 3. Object-Oriented Programming (OOP)

*Task*:

* Implement a BankAccount class with methods for depositing, withdrawing, transferring, and checking balance.
* Implement *Polymorphism* by overriding the __str__ method to provide a custom string representation of the account.


# Example
account_a = BankAccount("A123", "Alice", 1000)

account_b = BankAccount("B456", "Bob", 500)

account_a.deposit(200)

account_a.transfer(300, account_b)

In [5]:
class Bankacc:
  def __init__(self,acc,name,balance=0):
      self.acc,self.name,self.bal= acc,name,balance

  def deposit(self,amt):
    self.bal+=amt

  def withdraw(self,amt):
    self.bal-=amt
  def transfer(self,amt,other):
    if amt<=self.bal:
        self.bal, other.bal= self.bal-amt, other.bal+amt

  def __str__(self):
      return f"{self.name} ({self.acc}) Balance: {self.bal}"

account_a = Bankacc("A123", "Alice", 1000)

account_b = Bankacc("B456", "Bob", 500)

account_a.deposit(200)

account_a.transfer(300, account_b)
print(account_a)
print(account_b)

Alice (A123) Balance: 900
Bob (B456) Balance: 800

### 4. Exception Handling

*Task*:

* Write a divide_numbers(a, b) function with exception handling:

  * Handle division by zero and invalid input (non-numeric values).


# Test the function
print(divide_numbers(10, 2))   # Valid input

print(divide_numbers(10, 0))   # Division by zero

print(divide_numbers("ten", 2))  # Invalid input

In [10]:

def divide(a,b):
    try:
        result= float(a)/float(b)
        return f"Result = {result}"
    except ZeroDivisionError:
       return "Error occured , div by 0 not allowed"
    except ValueError:
       return "Invalid input, please enter numbers only"

print(divide(10,2))
print(divide(5,0))
print(divide("ten",2))

Result = 5.0
Error occured , div by 0 not allowed
Invalid input, please enter numbers only

*Example Expected Output*:


5.0

Cannot divide by zero

Invalid input, please enter numbers

### 5. Python Modules & File Handling

*Task*:

* Write a Python program to:

  * Create a text file "students.txt" with student names and marks.
  * Read the file and print names of students with marks above 80.

In [12]:
  with open("students.txt","w") as f:
       f.write("Alice 99  \n")
       f.write("Bob  93 \n")
       f.write("David 87 \n")
       f.write("Jake 64 \n")
  with open("students.txt","r") as f:
        for line in f:
            name, marks =line.split()
            if int(marks)>80:
              print(name)

Alice
Bob
David


*Expected Output*:


Alice

Bob

David

### 6. Regular Expressions

*Task*:

* Write a Python function extract_phone_numbers(text) that extracts all phone numbers from a given text. The phone numbers should be in the format (xxx) xxx-xxxx.


sample_text = (
    "For any support regarding our Bangalore office, call us at +91-9876543210 between 9 AM to 6 PM. "
    "If you are located in Mumbai, you can also reach our helpdesk at 9123456789 for urgent assistance. "
    "Additionally, our Delhi branch can be contacted at +91-9988776655 during weekdays."
)




*Expected Output*:


['+91-9876543210', '+91-9988776655']

In [19]:
import re
def extract(text):
    pattern =r"\+91-\d{10}"
    return re.findall(pattern,text)

sample_text = ( "For any support regarding our Bangalore office, call us at +91-9876543210 between 9 AM to 6 PM. "
   "If you are located in Mumbai, you can also reach our helpdesk at 9123456789 for urgent assistance. "
    "Additionally, our Delhi branch can be contacted at +91-9988776655 during weekdays." )
print(extract(sample_text))

['+91-9876543210', '+91-9988776655']


*Expected Output*:


['+91-9876543210', '+91-9988776655']